docopt==0.6.2
docutils==0.12
fpdf==1.7.2
gnupg==2.0.2
lxml==3.4.4
Markdown==2.6.2
pexpect==3.3
requests==2.6.0
requests-oauthlib==0.4.2
storm==0.20
terminado==0.5
tornado==4.1
tweepy==3.3.0
Unidecode==0.4.17
virtualenv==12.0.7
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.2
